@import url("base.css");

.section-wrapper:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

section > h3 {
  text-align: center;
}

/* HERO SECTION ---------------------- */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (max-width: 576px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero .text {
    grid-row: 2 / 3;
    align-items: center;
  }
}
.hero .special-word-1 {
  color: var(--color-red);
}

.hero .img {
  position: relative;
  height: 350px;
  border-radius: 1rem;
  overflow: hidden;
}

.hero .img figure {
  width: 300px;
  height: 200px;
  position: absolute;
  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.hero .img figure:last-of-type {
  bottom: 0;
  right: 0;
  background-image: url("/assets/images/hero2.jpg");
  z-index: -1;
}

/* HERO SECTION ---------------------- */

/* REVIEWS SECTION ---------------------- */

.reviews-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.reviews-card {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-light);
  border-radius: 1rem;
  padding: var(--small-padding);
}

.review--text {
  margin-bottom: auto;
}

.review--stars {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.review--stars figure {
  background-size: cover;
  background-image: url("/assets/images/star.png");
  width: 24px;
  height: 24px;
}

.review--name {
  width: fit-content;
  font-size: var(--small-text);
}

/* REVIEWS SECTION ---------------------- */

/* SUBJECTS SECTION ---------------------- */

.subject-card {
  display: flex;
  gap: 1rem;
  width: 250px;
  padding: var(--small-padding);
  border-radius: 8px;
  transition: all var(--transition-duration) ease-in-out;
}

.subject-card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, var(--shadow-opacity));
}

.subject-card--icon figure {
  width: 48px;
  height: 48px;
  background-color: var(--color-red);
  background-image: url("/assets/images/math_icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
}

a.subject-card:nth-child(2n) figure {
  background-color: var(--color-blue);
}

a.subject-card:nth-child(2) figure {
  background-image: url("/assets/images/physics_icon.png");
}
a.subject-card:nth-child(3) figure {
  background-image: url("/assets/images/geography_icon.png");
}
a.subject-card:nth-child(4) figure {
  background-image: url("/assets/images/chemistry_icon.png");
}
a.subject-card:nth-child(5) figure {
  background-image: url("/assets/images/coding_icon.png");
}
a.subject-card:nth-child(6) figure {
  background-image: url("/assets/images/literature_icon.png");
}

.subject-card--title span {
  font-size: var(--small-text);
}

.subjects-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 800px;
  gap: 1rem;
  margin: 0 auto;
}

@media all and (max-width: 576px) {
  .subjects-cards {
    grid-template-columns: 1fr;
  }
}

.explore-btn {
  margin: 0 auto;
}

/* SUBJECTS SECTION ---------------------- */

/* FEATURES SECTION ---------------------- */

.feature-card {
  display: flex;
  border-radius: 16px;
  background-color: var(--color-light);
  overflow: hidden;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, var(--shadow-opacity));
}

.feature-card--text {
  padding: var(--small-padding);
}

.feature-card figure {
  width: 450px;
  height: 300px;
  background-color: gray;
  background-image: url("/assets/images/interactive.jpg");
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 576px) {
  .feature-card {
    flex-direction: column;
  }
  .feature-card figure {
    width: 100%;
    height: 250px;
  }
}

.feature-card:first-child figure {
  background-image: url("/assets/images/expert.jpg");
}

.feature-card:last-child figure {
  background-image: url("/assets/images/cheap.jpg");
}

.features-cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* FEATURES SECTION ---------------------- */

/* TOP TECHERS SECTION ---------------------- */

.teachers-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.teacher-card {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  align-items: stretch;
  background-color: var(--color-light);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, var(--shadow-opacity));
}

.teacher-card .teacher-card--image > figure {
  width: 100%;
  height: 200px;
  background-image: url("/assets/images/teacher2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  transition: all var(--transition-duration) ease-in-out;
}

.teacher-card .teacher-card--image > figure:hover {
  filter: brightness(1);
}

.teacher-card:first-child .teacher-card--image > figure {
  background-image: url("/assets/images/teacher1.jpg");
}
.teacher-card:last-child .teacher-card--image > figure {
  background-image: url("/assets/images/teacher3.jpg");
}

.teacher-card--image {
  position: relative;
}

.teacher-card--image--review {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-weight: var(--fw-bold);
  color: #ffc107;
  /* color: white; */
  /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5)); */
}

.teacher-card--image--review > figure {
  background-image: url(/assets/images/star.png);
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
}

.teacher-card--text {
  padding: var(--small-padding);
}

.teacher-subject {
  font-size: var(--small-text);
  font-weight: var(--fw-bold);
  color: rgba(0, 0, 0, 0.5);
}

.teacher-cost {
  font-size: var(--base-fs);
  font-weight: var(--fw-bold);
}

/* TOP TECHERS SECTION ---------------------- */

/* ARTICLES SECTION ---------------------- */

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.article {
  padding: var(--small-padding);
  border-radius: 16px;
  background-color: var(--color-light);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, var(--shadow-opacity));
  grid-column: 2 / 4;
}

.article:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}
.article p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.article:not(:first-child) p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media all and (max-width: 576px) {
  .articles-grid {
    grid-template-columns: 1fr;
  }
  .article {
    grid-column: unset;
    grid-row: unset;
  }
  .article p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5 !important;
    overflow: hidden;
  }
}

/* ARTICLES SECTION ---------------------- */

/* BECOME TEACHER SECTION ---------------------- */

.become-teacher--card {
  display: flex;
  gap: 1rem;
}

.become-teacher--card figure {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 16px;
  background-image: url("/assets/images/become_a_teacher.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
@media all and (max-width: 576px) {
  .become-teacher--card {
    flex-direction: column;
  }
  .become-teacher--card figure {
    width: 100%;
    height: 400px;
  }
}

.become-teacher--text {
  padding: var(--small-padding) 0;
}

/* BECOME TEACHER SECTION ---------------------- */
